<%= form_with scope: :author,url: authors_path, local: true do |form| %>
    <p>
      <%= form.label :firstname %><br>
      <%= form.text_field :first_name %>
    </p>
   
    <p>
      <%= form.label :lastname %><br>
      <%= form.text_field :last_name %>
    </p>

    <p>
    <%= form.label :homepage %><br>
    <%= form.text_field :homepage %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>